.ui-autocomplete-query {
 font-style: italic;
    color: red;
    font-size: 25pt;
    font-family: Arial sans-serif;
    font-weight: bolder;
};

.ui-autocomplete-input {
 font-style: italic;
    color: red;
    font-size: 20pt;
    font-family: Arial sans-serif;
    font-weight: bolder;
};

.ui-autocomplete-items {
 font-style: italic;
    color: red;
    font-size: 20pt;
    font-family: Arial sans-serif;
    font-weight: bolder;
};
