# -- ignore maven output directory
target/
# -- ignore IntelliJ IDEA files
*.iml
*.ipr
*.iws
.idea
.ideaDataSources
dataSources
# -- ignore logs files
*.log
# -- ignore [storm] module output/input file(s)
storm-app-output.txt
dummy.txt
# -- some unversioned files
bigdata/dependency-reduced-pom.xml
bigdata/gutenberg.txt
socialnet/.crawlerdb/
socialnet/.db/
vk_token*
# -- ignore python compiled files
*.pyc
