# -- ignore maven output directory
target
# -- ignore IntelliJ IDEA files
*.iml
*.ipr
*.iws
.idea
.ideaDataSources
dataSources
# -- ignore logs/output files
*.log
*.out
# -- ignore [storm] module output/input file(s)
storm-app-output.txt
dummy.txt
# -- some unversioned files
dependency-reduced-pom.xml
socialnet/.crawlerdb/
socialnet/.db/
vk_token*

# -- ignore gzip archives
*.gz
# -- ignore temporary word files
~$*.docx
.DS_Store

# -- python tests coverage
.coverage
coverage.xml
nose2*
htmlcov
# -- python virtual environment
.venv/
# -- python egg files
*.egg-info
# -- ignore python compiled files
*.pyc
# -- files/directories related to python
dist
build

# -- deployable archives
#*.jar
*.war
# -- PAnalyzer app output directory
panalyzer/
# -- DataTex connector
dtex-conn-deploy/
