# -- ignore maven output directory
target/
# -- ignore IntelliJ IDEA files
*.iml
*.ipr
*.iws
.idea
.ideaDataSources
dataSources
# -- ignore logs/output files
*.log
*.out
# -- ignore [storm] module output/input file(s)
storm-app-output.txt
dummy.txt
# -- some unversioned files
bigdata/dependency-reduced-pom.xml
bigdata/hw1.mapreduce/dependency-reduced-pom.xml
socialnet/.crawlerdb/
socialnet/.db/
vk_token*
# -- ignore python compiled files
*.pyc
