<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.dataModel.DocsMapper">
 <select id="selectDocType" parameterType="map" resultMap="DocTypeResultMap">
  select * from docTypes where id = #{id}
  <if test="!deleted">and deleted = 0</if>
 </select>

 <select id="selectAllDocTypes" parameterType="boolean" resultMap="DocTypeResultMap">
  select * from docTypes <if test="!deleted">where deleted = 0</if>
 </select>

 <resultMap id="DocTypeResultMap" type="test.dataModel.DocTypeDTO">
  <constructor>
   <idArg column="id"       javaType="_int"/>
   <arg   column="typeName" javaType="String"/>
   <arg   column="typeDesc" javaType="String"/>
   <arg   column="deleted"  javaType="_int"/>
  </constructor>
 </resultMap>

</mapper>